################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HelloGitHub/HelloGitHub/bin
/HelloGitHub/HelloGitHub/obj/Debug
